<IfModule mod_rewrite.c>
  RewriteEngine on
  Options +FollowSymLinks
  #RewriteBase /PointOfSale/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>
