<div class="buttonBar">
	<ul>
		<li><a href="<?php print Templates::BaseURL(); ?>/admin"><img src="<?php print Templates::BaseURL(); ?>/public/images/general.png"><br>General</a></li>
		<li><a href="<?php print Templates::BaseURL(); ?>/admin/products"><img src="<?php print Templates::BaseURL(); ?>/public/images/products.png"><br>Products</a></li>
		<li><a href="<?php print Templates::BaseURL(); ?>/admin/sales"><img src="<?php print Templates::BaseURL(); ?>/public/images/orders.png"><br>Sales</a></li>
		<li><a href="<?php print Templates::BaseURL(); ?>/admin/users"><img src="<?php print Templates::BaseURL(); ?>/public/images/users.png"><br>Users</a></li>
	</ul>
</div>