<div class="admin">
	<div class="window">
		<h2>Administration</h2>
		<div class="windowContent">
			<div class="buttonBar">
				<ul>
					<li><a href="#"><img src="<?php print Templates::BaseURL(); ?>/public/images/products.png"><br>Home</a></li>
					<li><a href="#"><img src="<?php print Templates::BaseURL(); ?>/public/images/products.png"><br>Products</a></li>
					<li><a href="#"><img src="<?php print Templates::BaseURL(); ?>/public/images/products.png"><br>Sales</a></li>
				</ul>
				<br class="clear">
			</div>
			
			<br class="clear">
			<p>This is a test</p>
		</div>
	</div>
</div>