<!DOCTYPE html>
<html>
<head>
	<title>Point Of Sale</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<?php print Templates::yield('header'); ?>
	<link rel="stylesheet" type="text/css" href="<?php print Templates::BaseURL(); ?>/public/style.css">
	
</head>
<body>
	<div id="header">
		<a href="<?php print Templates::BaseURL(); ?>"><img src="<?php print Templates::BaseURL(); ?>/public/logo.png"></a>
		<ul>
			<li><a href="?url=admin">Admin</a></li>
			<li><a id="logout" href="#">Log Out</a></li>
		</ul>
	</div>

	<?php print Templates::yield() ?>

	<div class="alert info" id="orderSuccessAlert">Order submitted successfully</div>
</body>
</html>