<thead>
	<tr>
		<th></th>
		<th>Image</th>
		<th>Product Name</th>
		<th>Cost</th>
		<th>Actions</th>
	</tr>
</thead>
<tbody>
	<?php foreach($products as $i => $product): ?>
	<tr id="product-<?php print $product->id; ?>">
		<td><?php print $product->id; ?></td>
		<td><img style="width:32px; height: 32px;" src="<?php print Templates::BaseURL(); ?>/public/images/<?php print $product->image; ?>"></td>
		<td><?php print $product->name; ?></td>
		<td>$<?php print $product->price(); ?></td>
		<td><a href="#">Edit</a> <a class="productRemove" href="#" data-id="<?php print $product->id; ?>">Remove</a></td>
	</tr>
	<?php endforeach; ?>
</tbody>
