<?php Templates::StartBlock(); ?>
	<link rel="stylesheet" type="text/css" href="<?php print Templates::BaseURL(); ?>/public/jquery.dataTables.css">
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css">


	<script type="text/javascript">
		$(function() {
			var newProductImageName = '';
			var editProductImageName = '';

			$("#orderList").dataTable({"bFilter": false, "bLengthChange": false, "iDisplayLength": 15});

			$("#addProduct").click(function() {
				$("#new-product").dialog("open");
				return false;
			});

			$(".editProduct").click(function() {
				var productID = $(this).attr("data-id");

				$("#editProductId").val(productID);

				$.getJSON('<?php print Templates::BaseURL(); ?>/admin/products/show/' + productID + '?ajax', function(data) {
					$("#editProductName").val(data['name']);
					$("#editProductCost").val(data['cost']);
					editProductImageName = data['image'];
					$("#imageUploadPlaceholder2").html('<img src="<?php print Templates::BaseURL(); ?>/public/' + editProductImageName + '">');
				});
				

				$("#edit-product").dialog("open");
				return false;
			});

			$(".productRemove").click(function() {
				var productID = $(this).attr("data-id");
				$("#product-" + productID).fadeOut();
				$.post('<?php print Templates::BaseURL(); ?>/admin/products/delete?ajax', {'id': productID});
				return false;
			});

			

			var uploader = new qq.FileUploader({
				element: $('#newProductImage')[0],
				action: "<?php print Templates::BaseURL(); ?>/admin/products/image?ajax",
				debug: true,
				onError: function(id, fileName, reason) {
					alert(reason)
				},
				onComplete: function(id, filename, responseJSON) {
					newProductImageName = 'uploads/' + filename;
					$("#imageUploadPlaceholder").html('<img src="<?php print Templates::BaseURL(); ?>/public/uploads/' + filename + '">');
				}
			});

			var uploader2 = new qq.FileUploader({
				element: $('#editProductImage')[0],
				action: "<?php print Templates::BaseURL(); ?>/admin/products/image?ajax",
				debug: true,
				onError: function(id, fileName, reason) {
					alert(reason)
				},
				onComplete: function(id, filename, responseJSON) {
					editProductImageName = 'uploads/' + filename;
					$("#imageUploadPlaceholder2").html('<img src="<?php print Templates::BaseURL(); ?>/public/uploads/' + filename + '">');
				}
			});

			$("#new-product").dialog({
				autoOpen: false,
	            height: 450,
	            width: 560,
	            modal: true,
	            buttons: {
	            	'Cancel': function() {
	            		$("#new-product").dialog("close");
	            	},
	            	'Add Product': function() {
	            		var productName = $("#newProductName").val();
	            		var productCost = $("#newProductCost").val();

	            		$.post('<?php print Templates::BaseURL(); ?>/admin/products/create?ajax', {'Name': productName, 'Cost': productCost, 'Image': newProductImageName}, function(data) {
							//$("#orderList").html(data);
							window.location = "<?php print Templates::BaseURL(); ?>/admin/products/";
						});
	            		$("#new-product").dialog("close");
	            	}
	            }
			});

			$("#edit-product").dialog({
				autoOpen: false,
	            height: 450,
	            width: 560,
	            modal: true,
	            buttons: {
	            	'Cancel': function() {
	            		$("#edit-product").dialog("close");
	            	},
	            	'Update': function() {
	            		var productId = $("#editProductId").val();
	            		var productName = $("#editProductName").val();
	            		var productCost = $("#editProductCost").val();
						$.post('<?php print Templates::BaseURL(); ?>/admin/products/update?ajax', {'id': productId, 'name': productName, 'cost': productCost, 'image': editProductImageName}, function(data) {
							window.location = "<?php print Templates::BaseURL(); ?>/admin/products/";
						});
	            		$("#edit-product").dialog("close");
	            	}
	            }
			});
		});
	</script>
	<script type="text/javascript" src="<?php print Templates::BaseURL(); ?>/public/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="<?php print Templates::BaseURL(); ?>/public/jquery.ajaxfileupload.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>

	
<?php Templates::EndBlock('header'); ?>
<div id="content">
	<div class="admin">
		<div class="window">
			<h2 class="noborder">Administration</h2>
			<div class="windowContent">
				<?php Templates::Fragment("admin/buttonbar"); ?>
				<div class="submenu">
					<ul><li><a href="#" id="addProduct">Add Product <img src="<?php print Templates::BaseURL(); ?>/public/images/add.png"></a></li></ul>
					<br class="clear">
				</div>
				<table id="orderList">
					<thead>
						<tr>
							<th></th>
							<th>Image</th>
							<th>Product Name</th>
							<th>Cost</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($products as $i => $product): ?>
						<tr id="product-<?php print $product->id; ?>">
							<td><?php print $product->id; ?></td>
							<td><img style="width:32px; height: 32px;" src="<?php print Templates::BaseURL(); ?>/public/<?php print $product->image; ?>"></td>
							<td><?php print $product->name; ?></td>
							<td>$<?php print $product->price(); ?></td>
							<td>
								<a href="#" class="editProduct" data-id="<?php print $product->id; ?>">Edit</a>
								<a class="productRemove" href="#" data-id="<?php print $product->id; ?>">Remove</a>
							</td>
						</tr>
						<?php endforeach; ?>
					</tbody>
				</table>
				<br class="clear">

			</div>
		</div>
	</div>

	<div id="new-product" title="New Product">
		<form>
			<ul>
				<li>
					<label>Product Name</label>
					<input id="newProductName" class="text" name="productname">
				</li>
				<li>
					<label>Cost</label>
					<input id="newProductCost" class="text"  name="productname">
				</li>
				<li>
					<label>Product Image (128x128 pixels)</label>
					<ul id="newProductImage"></ul>
					<div id="imageUploadPlaceholder"></div>
				</li>
			</ul>
		</form>
	</div>

	<div id="edit-product" title="Edit Product">
		<form>
			<input type="hidden" id="editProductId">
			<ul>
				<li>
					<label>Product Name</label>
					<input id="editProductName" class="text" name="productname">
				</li>
				<li>
					<label>Cost</label>
					<input id="editProductCost" class="text"  name="productname">
				</li>
				<li>
					<label>Product Image (128x128 pixels)</label>
					<ul id="editProductImage"></ul>
					<div id="imageUploadPlaceholder2"></div>
				</li>
			</ul>
		</form>
	</div>
</div>
<div id="sidebar">
	<?php Templates::Fragment("salesinfo"); ?>
</div>